<section id="portfolio" class="default-container">
    <h2 class="display-4 text-center">Nosso Portfólio</h2>
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <img src="assets/images/project1.jpg" class="card-img-top" alt="Projeto 1">
          <div class="card-body">
            <h5 class="card-title">Projeto 1</h5>
            <p class="card-text">Descrição do projeto 1.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img src="assets/images/project2.jpg" class="card-img-top" alt="Projeto 2">
          <div class="card-body">
            <h5 class="card-title">Projeto 2</h5>
            <p class="card-text">Descrição do projeto 2.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img src="assets/images/project3.jpg" class="card-img-top" alt="Projeto 3">
          <div class="card-body">
            <h5 class="card-title">Projeto 3</h5>
            <p class="card-text">Descrição do projeto 3.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  