<nav class="navbar navbar-expand-lg" #navbar>
  <a class="navbar-brand" href="#">
    <img src="assets/images/logo-polara.svg" alt="Polara Innovations Logo" width="30" height="30">
    Polara Innovations
  </a>
  <button class="navbar-toggler" type="button" (click)="toggleNavbar()"
    aria-controls="navbarNav" aria-expanded="isNavbarOpen.toString()" id="navbarToggleBtn">
    <i class="fas fa-bars"></i>
  </button>

  <div class="navbar-collapse" [ngClass]="{'show': isNavbarOpen}" *ngIf="isNavbarOpen" id="navbarNav">
    <ul class="navbar-nav ms-auto">
      <li class="nav-item">
        <a class="nav-link" (click)="scrollTo('home')" [class.active]="activeNav === 'home'">Início</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="scrollTo('about')" [class.active]="activeNav === 'about'">Quem Somos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="scrollTo('services')" [class.active]="activeNav === 'services'">Serviços</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="scrollTo('portfolio')" [class.active]="activeNav === 'portfolio'">Portfólio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="scrollTo('contact')" [class.active]="activeNav === 'contact'">Contato</a>
      </li>
      <li class="nav-item">
        <button (click)="themeService.toggleTheme()" class="btn theme-toggle">
          <span class="material-icons">
            {{ themeService.getIsDarkMode() ? 'brightness_7' : 'brightness_4' }}
          </span>
        </button>
      </li>
    </ul>
  </div>
</nav>