<section class="who-we-are-section default-container">
    <div class="who-we-are-header" id="about">
        <h2 class="title-small">Quem Somos</h2>
    </div>

    <div class="who-we-are-content">
        <div class="who-we-are-text">
            <p class="intro-text text-large">
                A Polara Innovations foi criada para transformar a maneira como empresas e indivíduos interagem com a
                tecnologia. Nosso foco está na inovação constante, colaborando com nossos clientes para desenvolver
                soluções criativas que resolvem desafios atuais e antecipam as necessidades do futuro.
            </p>
            <p class="intro-text text-large">
                Acreditamos no poder da tecnologia para transformar e melhorar a vida das pessoas. Cada projeto que
                realizamos reflete nossa missão de proporcionar eficiência, sustentabilidade e conectividade, criando um
                impacto positivo em todos os setores em que atuamos.
            </p>
        </div>

        <div class="who-we-are-image">
            <img src="https://picsum.photos/400/300?random=20" alt="Equipe Polara Innovations" />
        </div>
    </div>
</section>