<div class="default-container page-background">
  <section class="core-values">
    <h2 class="title-small text-center">Nossos Valores Fundamentais</h2>
    <div class="values-grid">
      <div class="value-card">
        <div class="icon">
          <i class="fas fa-lightbulb cards-icon"></i> 
        </div>
        <h3 class="subtitle text-center">Inovação</h3>
        <p class="text-normal">
          Buscamos constantemente ultrapassar limites e explorar novas possibilidades, trazendo ideias 
          criativas que transformam desafios em oportunidades. Acreditamos que a inovação é a força 
          motriz para construir um futuro melhor.
        </p>
      </div>
      <div class="value-card">
        <div class="icon">
          <i class="fas fa-mountain cards-icon"></i> 
        </div>
        <h3 class="subtitle text-center">Resiliência</h3>
        <p class="text-normal">
          Superamos adversidades com determinação e adaptabilidade, mantendo o foco em nossos objetivos. 
          Para nós, cada desafio enfrentado é uma oportunidade de crescer e nos fortalecer como equipe.
        </p>
      </div>
      <div class="value-card">
        <div class="icon">
          <i class="fas fa-hands-helping cards-icon"></i> 
        </div>
        <h3 class="subtitle text-center">Colaboração</h3>
        <p class="text-normal">
          Acreditamos no poder do trabalho em equipe para alcançar resultados extraordinários. 
          Valorizamos o respeito mútuo, a troca de ideias e o esforço conjunto, criando um ambiente 
          onde todos prosperam e contribuem para o sucesso coletivo.
        </p>
      </div>
    </div>
  </section>
</div>