<div id="about" class="default-container">
  <section class="vision-mission">
    <div class="vision-card">
      <div class="icon">
        <i class="fas fa-eye"></i>
      </div>
      <h2>Visão</h2>
      <p>
        Ser uma referência global em avanços tecnológicos, liderando com soluções inovadoras que gerem impacto 
        positivo na vida das pessoas e impulsionem o desenvolvimento sustentável.
      </p>
    </div>
    <div class="mission-card">
      <div class="icon">
        <i class="fas fa-rocket"></i>
      </div>
      <h2>Missão</h2>
      <p>
        Oferecer excelência em tecnologia de ponta, combinando inovação e responsabilidade. Nosso compromisso é criar 
        produtos e serviços que superem expectativas, promovam a sustentabilidade e contribuam para um mundo mais conectado.
      </p>
    </div>
  </section>
</div>
