<section class="default-container">
  <h2 class="title-small text-center" id="services">Nossos Serviços</h2>
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <img src="https://picsum.photos/400/300?random=9" alt="Desenvolvimento de Software" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title text-large">Desenvolvimento de Software</h5>
          <p class="card-text text-normal">Criamos soluções digitais sob medida para o seu negócio.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img src="https://picsum.photos/400/300?random=10" alt="Consultoria em TI" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title text-large">Consultoria em TI</h5>
          <p class="card-text text-normal">Ajudamos empresas a se adaptarem às novas tecnologias e tendências.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img src="https://picsum.photos/400/300?random=11" alt="Design de Interface" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title text-large">Design de Interface</h5>
          <p class="card-text text-normal">Transformamos ideias em experiências digitais únicas e eficazes.</p>
        </div>
      </div>
    </div>
  </div>
</section>