@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import './assets/css/theme-light.css';
@import './assets/css/theme-dark.css';

:root {
    --color-radius: 4px;
    --font-family: 'Montserrat', sans-serif;
    --transition-speed: 0.3s ease;
}
  
html, body {
  scroll-behavior: smooth !important;
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: var(--color-bg);
  font-family: var(--font-family);
  overflow: hidden; 
}

app-root {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Altura total da tela */
  overflow-y: auto; /* Adiciona barra de rolagem vertical */
}

p{
  margin: 0;
  padding: 0;
}

.default-container {
  width: 100%; /* Garante que a largura ocupe 100% da tela */
  padding-left: 3rem; /* Padding esquerdo */
  padding-right: 3rem; /* Padding direito */
  padding-top: 1rem; /* Padding superior */
  padding-bottom: 1rem; /* Padding inferior */
  box-sizing: border-box; /* Garante que o padding seja calculado dentro da largura total */
  background-color: var(--color-bg); /* Cor de fundo */
  color: var(--color-text); /* Cor do texto */
}
