  <section class="hero default-container">
    <div class="hero-content">
      <h1>Polara Innovations</h1>
      <p class="tagline">Pioneirismo em Soluções para o Amanhã</p>
      <p class="description">
        Na Polara Innovations, estamos comprometidos em ultrapassar limites e transformar o futuro da 
        tecnologia. Criamos soluções inovadoras que não apenas atendem às necessidades atuais, mas também 
        abrem caminho para um amanhã mais eficiente, sustentável e conectado.
      </p>
    </div>
    <div class="hero-image">
      <img src="../../../../assets/images/banner-home-polara.svg" alt="Banner da Polara Innovations" />
    </div>
  </section>
